#section-posts form {
    width: 100%;
    border-top-left-radius: 1rem;

    border-top-right-radius: 1rem;
    border-radius: 1rem;
    background-color: aquamarine;
    padding: 1rem;
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#section-posts form input {
    width: 70%;
    outline: none;
    border: none;
    padding: 0.5rem;
}

#section-posts form {
    font-weight: bold;
}