.sidebar {
    background-color: green;
    width: 30%;
    height: calc(90vh - var(--navbar-height));
    overflow-y: auto;
    
    padding: 1rem;

    position: sticky;
    top: calc(var(--navbar-height) + 1rem);

    background-color: beige;
    border-radius: 0.5rem;
}