#desktop-header .action {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    height: 1.5em;
}

#desktop-header .action.active {
    border-bottom: solid 0.1rem beige;
}

#desktop-header .container {
    display: flex;
    justify-content: space-between;
}

#desktop-header .actions {
    display: flex;
    gap: 1rem;
    align-items: center;
}

#desktop-header.menu {
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
}