#section-header {
    width: 100vw;
    height: var(--navbar-height);
    background-color: aquamarine;
    z-index: 1;
    display: flex;
    align-items: center;
    position: fixed;
}

#section-header .container {
    display: flex;
    align-items: center;
}

#section-header .action.active {
    border-bottom: solid 0.1rem beige;
}

#section-header .container {
    display: flex;
    justify-content: space-between;
}

#section-header h1 {
    font-size: 1.3rem;
    cursor: pointer;
}