
#component-post {
    padding: 0.5rem 0;
    cursor: pointer;
    padding: 1rem;
    border-radius: 1rem;
}

#component-post .block-confirm {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#component-post .block-confirm h1 {
    color: crimson;
}

#component-post.blocking {
    outline: solid 0.1rem crimson;
}

#component-post .post-content {
    border-radius: 1rem;
}

#component-post.blocking .post-content{
    background-color: beige;
    padding: 1rem;
}

#component-post.paywalled {
    opacity: 0.3;
}

#component-post .post-title {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#component-post .post-title.mobile {
    justify-content: space-between;
}

#component-post .post-title h1 {
    font-size: 1.2rem;
}

#component-post .header-buttons {
    display: flex;
}

#component-post .comment-title {
    font-size: 1.1rem;
}

#component-post .comments {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 3vw 0;
    border-left: solid 0.1rem rgba(0, 0, 0, 0.5);
}

#component-post .comment {
    margin-left: 3vw;
}

#component-post .display-none {
    display: none;
}

#component-post .activity {
    display: flex;
    gap: 2vw;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#component-post .activity-item {
    display: flex;
    gap: 0.3rem;
    padding: 0.5rem;
    border-radius: 0.7rem;
}

#component-post .activity-item:hover {
    background-color: beige;
}