.app-users .user-details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0.2rem 0;
}

.app-users .user-details.blocked {
    opacity: 0.5;
}

.app-users .user-name {
    width: 45%;
}

.app-users .user-details {
    cursor: pointer;
    align-items: center;
    padding: 0.3rem;
    border-radius: 0.5rem;
}