#paywall {
    position: fixed;
    width: 100%;
    height: calc(100% - var(--navbar-height));
    top: var(--navbar-height);
    left: 0;
    z-index: 1;
    background-color: rgb(245, 245, 220, 0.1);
    backdrop-filter: blur(0.1rem);

    display: flex;
    justify-content: center;

    animation-name: change-opacity;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

#paywall .amount {
    color: green;
    font-size: 1.5rem;
}

#paywall .amount-info {
    font-size: 0.8rem;
    color: whitesmoke;
    font-style: italic;
}

#paywall .paywall-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    /* backdrop-filter: blur(0.1rem); */

    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    border-radius: 1rem;
}

#paywall .paywall-content.mobile {
    width: 80vw;
}

#paywall .paywall-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#paywall ul {
    margin-left: 1rem;
}

#paywall ul li {
    list-style-type: disc;
}

#paywall h1 {
    color: goldenrod;
}

#paywall .close-paywall {
    position: absolute;
    top: -1.3rem;
    right: -1.3rem;
    background-color: red;
    border-radius: 50%;
    display: grid;
    place-items: center;
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
}

#paywall .close-paywall:hover {
    opacity: 0.7;
}

#paywall .close-paywall .fa-xmark {
    color: white;
}

#paywall p,
#paywall, span,
#paywall ul li {
    color: whitesmoke;
}

#paywall .payments {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

#paywall .payment-option {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

#paywall .details {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: white;
}

#paywal button {
    margin-top: 1rem;
}

@keyframes change-opacity {
    from {opacity: 0; }
    to {opacity: 1;}
}