* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --navbar-height: max(10vh, 5rem);
}

.page {
    min-height: calc(100vh - var(--navbar-height));
    padding: 1vw 2vw;
    position: relative;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 95%;
}

ul li {
    list-style: none;
}